@import "reset.css";
@import "variables.css";
@import "themes/day.theme.css";
@import "themes/night.theme.css";
@import "components/chart-box.css";
@import "components/chart.css";
@import "components/chart-preview.css";
@import "components/chart-legend.css";
@import "components/theme-switcher.css";


body {
    transition: background var(--theme-transition-duration) ease-in-out;
    background: var(--background, white);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}

.hidden {

}

svg path {
    vector-effect: non-scaling-stroke;
    stroke-width: 1.4px;
    fill: none;
    transition: transform 100ms ease-in-out, opacity 200ms ease-in-out;
    transform-origin: left top;
}

svg path.disabled {
    opacity: 0;
}

@media (--tablet) {
    svg path {
        stroke-width: 1.6px;
    }
}
