@import "reset.css";
@import "variables.css";
@import "themes/day.theme.css";
@import "themes/night.theme.css";
@import "components/chart-box.css";
@import "components/chart.css";
@import "components/chart-preview.css";
@import "components/chart-legend.css";
@import "components/theme-switcher.css";


body {
    transition: background var(--theme-transition-duration) ease-in-out;
    background: var(--background, white);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}

svg polyline {
    vector-effect: non-scaling-stroke;
    stroke-width: 1.4px;
    fill: none;
    transition: opacity 200ms ease-in-out, transform 150ms ease-in-out;
    transform-origin: left top;

    &.disabled {
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease-in-out, transform 150ms ease-in-out, visibility 0ms 200ms;
    }
}

@media (--tablet) {
    svg polyline {
        stroke-width: 1.6px;
    }
}
